@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@theme{

  /* THEME COLORS */                  /*comp = complement*/
  --color-primary: #F8F9FA;
  --color-primary-comp: #F5F5F5;   
  --color-primary-comp-two: #FFF;
  --color-secondary: #000;
  --color-accent-one: #0E6B37;

  /* BORDER COLOR */

  --color-bor-color: #CECECE;

  /* TEXT COLORS */
  --color-primary-text: #000;
  --color-secondary-text: #FFF;


}



@layer utilities{
  .border-set{
    @apply border-bor-color;
  }

  .flex-center{
    @apply flex justify-center items-center;
  }

  .display-inactive{
    @apply pointer-events-none -translate-y-3 opacity-0;
  }

  .transition-set{
    @apply transition ease-out duration-300;
  }
}